<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <add name="ConnStr" connectionString="server=(local);database=Bus;uid=sa;pwd=sasa" />
    <add name="BusConnectionString" connectionString="Data Source=DESKTOP-D83N007\SQLSEVER1;Initial Catalog=Bus;Persist Security Info=True;User ID=sa;Password=sasa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>

</configuration>
